body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: #9c34b1de;
}

.ouranos-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 15px 20px;
  width: 75%;
  border-radius: 10px;
}
.search-form-button {
  margin-left: 5px;
  font-size: 17px;
  background-color: #9c34b1de;
  color: white;
  border: none;
  padding: 15px 25px;
  line-height: 1;
  border-radius: 6px;
}
main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 30px;
  line-height: 48px;
}
.wether-app-name {
  margin: 0;
  font-size: 17px;
  line-height: 48px;
}

.wether-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
}
.wether-app-details strong {
  color: #f65282;
}
.ouranos-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 83px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-icon {
  width: 70px; /* Adjust emoji size */
  height: 70px;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  padding: 30px 0 0 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
